
{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}

<div class="text-center">
    <div class="card text-bg-primary mb-0" style="max-width: 20rem;">
        <form method="post">
            {% csrf_token %}
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Вы хотите удалить продукт?</h4>
            </div>
            <div class="card-body">
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="{% url 'catalog:product' object.pk %}" type="button"
                   class="btn btn-danger">Отмена</a>
            </div>
        </form>

    </div>
</div>

{% endblock %}